<!DOCTYPE html>
<html ng-app="CtModule">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="utf-8">
    <title>梁源食品</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/preview.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="javascript/mobiscroll/css/mobiscroll.frame.sense-ui.css" type="text/css"/>
    <link rel="stylesheet" href="javascript/mobiscroll/css/mobiscroll.mobiscroll-dark.css" type="text/css"/>
    <link rel="stylesheet" href="javascript/mobiscroll/css/mobiscroll.animation.css" type="text/css"/>
    <link rel="stylesheet" href="javascript/mobiscroll/css/mobiscroll.icons.css" type="text/css"/>
    <link rel="stylesheet" href="javascript/mobiscroll/css/mobiscroll.frame.css" type="text/css"/>
    <link rel="stylesheet" href="javascript/mobiscroll/css/mobiscroll.scroller.css" type="text/css"/>
    <link rel="stylesheet" href="javascript/mobiscroll/css/mobiscroll.scroller.sense-ui.css" type="text/css"/>


</head>
<body ng-controller="mainController">
<div class="navbar-fixed-top">
    <div style='padding: 5px 10px;text-align: center;' class="js-search-bar bg-info">

        <div class="home">
            <a href="#/nav"><span class="glyphicon glyphicon-home" aria-hidden="true"
                                  style="color: rgba(34, 49, 67, 0.5);"></span></a>
        </div>

        <div class="logo" ng-click="clearAndReload()">
            <img class="user-icon" src="images/head.jpg"/>
        </div>
        <div class="msg">
            <a href="#/message"><span class="glyphicon glyphicon-envelope" aria-hidden="true"
                                      style="color: #b7dfc9;"></span></a>

            <div class="notification"><span id="message_count"></span></div>
        </div>
    </div>

    <div class="js-menu-bar hidden" id="ma-menu-bar"
         style="height:47px; width:100%; overflow-x:auto; overflow-y:hidden; -webkit-overflow-scrolling: touch; position:relative;">
        <div class="menu-mask"
             style="height:37px; background-color:rgba(0,0,0,0.6); text-align:center; line-height:37px; color:#fff; font-size:14px; font-weight:bold; position:absolute; top:0; left:0; width:100%;">
            <-- 左右滑动切换分类哦~ -->
        </div>
        <ul class="menu fl"></ul>

        <div class="clear"></div>
    </div>
</div>
<div class="js-content">
    <div id="subCategoryBlock" class="fl scroll-y leftSider"
         style="height:100%;width:25%; position:relative;">
        <ul class="js-category" style="margin-bottom:80px;">
        </ul>
    </div>
    <div id="mainListBlock" class="fl scroll-y">

        <ng-view></ng-view>
    </div>

    <div class="clear"></div>
</div>
<footer class="footer bg-dark nav-bar-fixed-bottom">
    <div class="checkout">
        <div><span class="glyphicon glyphicon-shopping-cart" ng-click="clearAndReload()"></span>
        </div>
        <div>
            物件数：<span id="totalAmount">0</span>件
        </div>

        <div>
            总价：<span id="totalPrice">0</span>元
        </div>
        <div style="text-align: center;"><a class="next btn btn-info" href="#/checkout">下一步</a>
        </div>
    </div>
</footer>

<!--js load -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="bower_components/jquery.slides.min.js"></script>
<script type="text/javascript" src="javascript/all.js"></script>
<script type="text/javascript" src="javascript/main.js"></script>
<script type="text/javascript" src="javascript/spinner.js"></script>
<script type="text/javascript" src="javascript/test.js"></script>
<!--mobiscroll-->
<script type="text/javascript" src="javascript/mobiscroll/js/mobiscroll.core.js"></script>
<script type="text/javascript" src="javascript/mobiscroll/js/mobiscroll.frame.js"></script>
<script type="text/javascript" src="javascript/mobiscroll/js/mobiscroll.scroller.js"></script>
<script type="text/javascript" src="javascript/mobiscroll/js/mobiscroll.util.datetime.js"></script>
<script type="text/javascript" src="javascript/mobiscroll/js/mobiscroll.datetimebase.js"></script>
<script type="text/javascript" src="javascript/mobiscroll/js/mobiscroll.datetime.js"></script>
<script type="text/javascript" src="javascript/mobiscroll/js/mobiscroll.select.js"></script>
<script type="text/javascript" src="javascript/mobiscroll/js/i18n/mobiscroll.i18n.zh.js"></script>
<!-- picture zoom-->
<script type="text/javascript" src="javascript/pinchzoom.js"></script>
<!--<script type="text/javascript" src="javascript/MPreview.mobile.min.js"></script>-->
<script>
    (function () {
        $('.menu-mask').on('touchstart click', function () {
            $(this).hide();
        })
        //global variables
        var $category = $(".js-category");
        var $navga = $('.menu');
        var $curCat1, $curCat2;
        var ccat1, ccat2;
        $(".js-content").css("height", ($(window).height() - $(".js-reminder").height() - $(".js-menu-bar").height() - $(".js-footer").height()) + "px");
        $(".js-search-content").css("height", $(window).height() - 90);

        if (PlusMinus.isLowerAndriod3()) {
            PlusMinus.touchScroll("subCategoryBlock");
            PlusMinus.touchScroll("mainListBlock");
            PlusMinus.touchScrollY("ma-menu-bar");
        }

        function geneLevel2DOM(data, ccat1) {
            var level2HTML = "";
            _.each(_.pairs(data[ccat1]), function (item) {
                level2HTML += "<li class='cp'><a href='#/nav/" + item[1] + "'>" + item[0] + "</a></li>";
            });
            $category.html("").append($(level2HTML));

            //bind category event
            _.each($category.find("li"), function (item) {
                $item = $(item);
                $item.click(function () {
                    resetCategoryBgColor($curCat2);
                    $this = $curCat2 = $(this);
                    ccat2 = $this.text().trim();
                    $this.addClass("active");
                });
            });

            $firstCategory = $($category.find("li")[0]);
            if ($firstCategory) {
                $curCat2 = $firstCategory;
                $firstCategory.click();
            }
        }

        function resetCategoryBgColor($link) {
            if (!$link) return;
            $link.removeClass("active");
        }

        window.data = {
            "机器": {
                "碾米机": "nianmiji",
                "稻谷": "dami",
            }
//            "米面粮油": {
//                "大米": "dami",
//                "面粉面条": "mianfenmiantiao",
//                "食用油": "shiyongyou",
//                "杂粮": "zaliang",
//                "面点": "miandian",
//                "烘焙佐料": "hongbeizuoliao",
//            },
//            "蔬菜水果": {
//                "叶菜类": "yecailei",
//                "根茎类": "genjinglei",
//                "茄果类": "qieguolei",
//                "豆类": "doulei",
//                "葱姜蒜": "congjiangsuan",
//                "菌类": "junlei",
//                "特菜": "tecai"
//            },
//            "禽肉蛋类": {
//                "猪肉": "zhurou",
//                "羊肉": "yangrou",
//                "牛肉": "niurou",
//                "鸡肉": "jirou",
//                "鸭肉": "yarou",
//                "禽类": "qinlei",
//                "禽蛋类": "qindanlei",
//                "熟食加工": "shushijiagong"
//            },
//            "水产冻货": {
//                "海鲜水产": "haixianshuichan",
//                "鱼丸火锅": "yuwanhuoguo",
//            },
//
//            "调料其他": {
//                "调味品": "tiaoweipin",
//                "粉丝粉条": "fensifentiao",
//                "豆制品": "douzhipin",
//                "干货": "ganhuo",
//                "调味品": "tiaoweipin",
//                "酱油醋": "jiangyoucu",
//                "腌菜罐头": "yancaiguantou"
//            },
//            "餐厨用品": {
//                "纸品湿巾": "zhipinshijin",
//                "餐饮用具": "canyinyongju",
//            },
//            "酒水饮料": {
//                "饮料": "yinliao",
//                "饮用水": "yinyongshui",
//            }
        };
        var navHtml = '';
        window.hasFavorite = true;
        _.each(_.keys(data), function (key) {
            navHtml += "<li>" + key + "</li>";
        });

        $navga.append($(navHtml));


        _.each($navga.find("li"), function (item) {
            var $item = $(item);
            $item.click(function () {
                resetCategoryBgColor($curCat1);
                $this = $curCat1 = $(this);
                ccat1 = $this.text().trim();
                $this.addClass("active");
                geneLevel2DOM(data, ccat1);

            });
        });

        var $level1 = $($navga.find("li")[0]);
        if ($level1) {
            $curCat1 = $level1;
            $level1.click();
        }

        $('ul.menu').on('click', 'li', function () {
            restoreBuyPage();

            $category.find("li>a")[0].click();
        })
    }());
</script>
</body>
</html>