<div class="table-responsive">
    <table class="table table-bordered register">
        <tr class="active">
            <td colspan="2" class="text-center">
                <i class="icon-basket-loaded i-lg"></i>
                <span class="text-success input-lg">用户注册</span>
            </td>
        </tr>
        <tr>
            <td><span class="input-lg">用户名</span></td>
            <td><input class="username input-lg" placeholder="送达" ng-model="username"></td>
        </tr>
        <tr>
            <td><span class="input-lg">手机</span></td>
            <td><input class="mobile input-lg" placeholder="130xxxxxxxx" ng-model="mobile"></td>
        </tr>
        <tr>
            <td><span class="input-lg">邮箱</span></td>
            <td><input class="email input-lg" placeholder="songda@songdatech.com" ng-model="email"></td>
        </tr>
    </table>
</div>
<button class="btn btn-info btn-lg" style="display: table;margin:auto;width: 40%;" ng-click="register()">注册</button>
</div>


<div class="row row-sm">
    <div style="height: 80px;"></div>
</div>